@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Ubuntu');
$font-body:Ubuntu,
sans-serif;
$font-body: Futura,
Open Sans,
Trebuchet MS,
Arial,
sans-serif;
$font-code: Inconsolata,
Courier New,
Courier,
Lucida Sans Typewriter,
monospace;