@import 'fonts';
@import 'colors';
* {
    font-size: 100%;
}

.text {
    font-family: $font-body;
}

.text-code {
    @extend .text;
    font-family: $font-code;
}

body {
    background: $gray-light-0;
}