@import 'fonts';
@import 'colours';
* {
    font-size: 100%;
}

.text {
    font-family: $font-body;
}

.text-code {
    @extend .text;
    font-family: $font-code;
}

body {
    background: $primary-color;
}