$primary-color: #69D3E7;
$complement-color: #FFB671;
$grey-light: #b1e6f0;
$grey-dark: #568b95;
$alert-color: #FF7E71;
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Ubuntu');
$font-body:Ubuntu,
sans-serif;
$font-body: Futura,
Open Sans,
Trebuchet MS,
Arial,
sans-serif;
$font-code: Inconsolata,
Courier New,
Courier,
Lucida Sans Typewriter,
monospace;